.content-description-service {
  margin-top: 100px;
  > h3 {
    margin-left: 24px;
    font-weight: bold;
    color: #ff7506;
  }
  > div {
    > .form-chi-tiet-dich-vu {
      padding: 24px;
      margin: 24px;
      width: 480px;
      height: 700px;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      > h5 {
        margin-top: 12px;
        font-weight: bold;
        color: #ff7506;
      }
      > div {
        margin-top: 16px;
        > label {
          width: 120px;
          font-weight: 600;
        }
      }
      > .quy-tac-cap-so {
        margin-top: 40px;
        > h5 {
          font-weight: bold;
          color: #ff7506;
        }
        > div {
          margin: 16px 0;
          > p {
            width: 120px;
            font-weight: 600;
          }
          > input {
            width: 65px;
            margin: 0 8px;
            padding: 0 8px;
            border: 1.5px solid #d4d4d7;
            border-radius: 8px;
            &:focus-visible {
              border: 1.5px solid #ff7506;
              outline: none;
            }
          }
        }
      }
    }
    > .form-danh-sach-dich-vu {
      padding: 24px;
      margin: 24px 0;
      width: 950px;
      height: 700px;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
      > .navbar-DS-DichVu {
        > div:nth-child(1) {
          > p {
            margin: 0 0 8px;
            font-weight: 600;
          }
        }
        > div:nth-child(2) {
          margin-left: 44px;
          > p {
            margin: 0 0 8px;
            font-weight: 600;
          }
          //custom date picket
          > .ant-picker {
            > .ant-picker-input {
              width: 100px;
              padding-left: 26px;
              position: relative;
              > .ant-picker-clear .anticon {
                > svg {
                  display: none;
                }
              }
              > .ant-picker-suffix .anticon {
                > svg {
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: 20px;
                  color: #ff7506;
                }
              }
            }
          }
        }
        > div:nth-child(3) {
          margin-left: 120px;
          > p {
            margin: 0 0 8px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
//
.button-update-service {
  top: 165px;
  right: 0;
  width: 100px;
  height: 120px;
  border-radius: 8px;
  background-color: #fcecde;
  color: #ff7506;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: #f8e3d1;
  }
  > svg {
    font-size: 38px;
  }
}
.button-goback-service {
  top: 300px;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #fcecde;
  color: #ff7506;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: #f8e3d1;
  }
  > svg {
    font-size: 38px;
  }
}
