.left-dashboard {
  height: 100vh;
  background-color: #fff;
  > .logo-view-index {
    cursor: pointer;
    margin: 24px 44px;
  }
  > div {
    bottom: 40px;
    left: 14px;
    > .btn-logout {
      font-weight: bold;
      background-color: #0398001e;
      border: none;
      border-radius: 8px;
      color: #039800;
      width: 276px;
      padding: 12px;
      align-items: center;
      gap: 12px;
    }
  }
}
//avatar
.my-avatar {
  top: 16px;
  right: 10px;
  z-index: 999;
}
//custom menu
.custom-menu {
  background-color: #fff !important;
  border: none !important;
  padding-left: 0 !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: #039800;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
li.ant-menu-item ant-menu-item-selected {
  margin: 0 !important;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  background-color: #039800;
  color: #fff;
  padding: 4px 0;
  &:hover {
    background-color: #039800a9;
    color: #fff;
  }
}
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.ant-menu {
  > li.ant-menu-item {
    padding: 24px !important;
  }
}
