.container-forget-password {
  > div {
    > .input-text {
      :where(.css-dev-only-do-not-override-txh9fw).ant-input:focus-visible {
        border: 1.5px solid #039800;
        outline: none;
      }
    }
  }
  > .logo-login {
    margin: 65px 0 0 220px;
    width: 190px;
    height: 156px;
  }
  > .container-button {
    > div {
      > .btn-custom {
        gap: 8px;
        border-radius: 8px;
        background-color: #039800;
        box-shadow: 0px 0px 6px 0px #e7e9f2;
        padding: 10px 32px;
        color: white;
        border: 1px solid #039800;
        &:hover {
          background-color: #039800a9;
        }
      }
    }
  }
}
.container-button {
  width: 360px;
  margin: 60px auto 0;
  > div > button:nth-child(1) {
    gap: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px #e7e9f2;
    padding: 10px 32px;
    color: #039800;
    border: 1px solid #039800;
    &:hover {
      background-color: rgb(228, 228, 228);
    }
  }
  > div > button:nth-child(2) {
    gap: 8px;
    border-radius: 8px;
    background-color: #039800;
    box-shadow: 0px 0px 6px 0px #e7e9f2;
    padding: 10px 32px;
    color: white;
    border: 1px solid #039800;
    &:hover {
      background-color: #039800a9;
    }
  }
}
.form-text {
  margin-left: 120px;
  > svg {
    margin-right: 8px;
    font-size: 20px;
  }
}
