.content-chiTiet-CapSo {
  margin-top: 100px;
  > h3 {
    margin-left: 24px;
    font-weight: bold;
    color: #000;
  }
  > div {
    padding: 24px;
    margin: 24px;
    width: 1370px;
    height: 700px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    > h5 {
      font-weight: bold;
      color: #000;
    }
    > div {
      margin-top: 40px;
      > div {
        width: 50%;
        > div {
          margin: 24px 0;
          > label {
            font-weight: 600;
            width: 200px;
          }
        }
      }
    }
  }
}
.button-goback-capSo {
  top: 160px;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #0398002a;
  color: #039800;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: #0398005b;
  }
  > svg {
    font-size: 38px;
  }
}
.active-green {
  color: #34cd26;
}
.active-blue {
  color: #5490eb;
}
.active-red {
  color: #e73f3f;
}
.active-gray {
  color: #7e7d88;
}
