.nav-bar {
  height: 88px;
  width: 100%;
  > div {
    > div {
      > h4 {
        margin-left: 16px;
        font-weight: 600;
        color: #039800;
        line-height: 88px;
        font-weight: bold;
        font-size: 32px;
      }
    }
  }
}
