.nav-bar {
  height: 88px;
  width: 100%;
  > div {
    > div {
      > h4:nth-child(1),
      > h4:nth-child(2) {
        margin-left: 16px;
        color: #7e7d88;
        line-height: 88px;
      }
      > h4:nth-child(3) {
        margin-left: 16px;
        font-weight: 600;
        color: #ff9138;
        line-height: 88px;
      }
    }
  }
}
