.content-DS-BHYT {
  margin-top: 100px;
  > h3 {
    margin-left: 24px;
    font-weight: bold;
    color: #000;
  }
  > .navbar-DS-BHYT {
    > div:nth-child(1),
    > div:nth-child(2) {
      > p {
        margin: 0 0 8px;
        font-weight: 600;
      }
    }
    > div:nth-child(3) {
      margin-left: 325px;
      > p {
        margin: 0 0 8px;
        font-weight: 600;
      }
    }
  }
  > .list-DS-BHYT {
    width: 1460px;
  }
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ff7506;
  outline: 0;
  box-shadow: none;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #039800 !important;
  outline: 0;
  box-shadow: none;
}
