.content-form-CapSo {
  margin-top: 100px;
  > h3 {
    margin-left: 24px;
    font-weight: bold;
    color: #000;
  }
  > .form-CapSo {
    width: 1465px;
    height: 750px;
    background-color: #fff;
    margin: 24px;
    border-radius: 16px;
    padding: 24px 32px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    > h1 {
      color: #039800;
      text-align: center;
    }
    > .no-BHYT {
      > .profile-customer {
        margin: 32px auto 24px;
        width: 600px;
        > label {
          margin: auto;
          font-size: 24px;
          font-weight: bold;
        }
        > input {
          margin: auto;
          width: 100%;
          font-size: 20px;
          &::placeholder {
            color: #c7c7c7;
          }
        }
      }
    }
    > div {
      margin-top: 75px;
    }
    > div {
      margin-top: 75px;
      > button:nth-child(1) {
        width: 160px;
        margin: 16px 24px;
        gap: 8px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
        background-color: #ffffff3b;
        padding: 10px 32px;
        color: #039800;
        border: 1.5px solid #039800;
        &:hover {
          background-color: #0398007e;
        }
      }
    }
  }
}
.check-BHYT {
  width: 600px;
  margin: -24px auto;
  justify-content: space-between;
  > div {
    > p {
      font-size: 24px;
      font-weight: 600;
      color: #039800;
      margin-left: 12px;
    }
  }
}
